@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
}

.paragraph-fonts {
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

#header {
    position: relative;
}

#header2 {
    width: 0px;
    height: 0px;
}

#logo1 {
    width: 0px;
    height: 0px;
}

#image-hero-left {
    width: 0px;
    height: 0px;
}

#image-hero-right {
    width: 0px;
    height: 0px;
}

#logo {
    position: absolute;
    height: 28px;
    width: 31.8%;
    top: 48px;
    left: 34.1%;
    right: 34.1%;
}

#image-hero {
    position: absolute;
    top: 130px;
    left: -5.3%;
    width: 110.4%;
    height: 153px;
}

#introduction {
    margin: 0px;
    padding: 0px;
}


#heading {
    position: absolute;
    top: 331px;
    left: 6.4%;
    right: 6.4%;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: 
    #28283D;
    width: 87.2%;
}

#description {
    color: #87879D;
    font-size: 16px;
    width: 87.2%;
    height: 78px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 443px;
    left: 6.4%;
    right: 6.4%;
}

#buttons {
    width: 51.2%;
    height: 132px;
    position: absolute;
    top: 553px;
    left: 24.4%;
    right: 24.4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#download-button {
    width: 193px;
    height: 58px;
    position: absolute;
    top: 0%;
    border-radius: 50px;
    color: #ffffff;
    background-color: #4D96A9;
    border: none;
    cursor: pointer;
}


#download-button:hover {
    background-color: #71C0D4;
}


#download {
    font-size: min(4vw,16px);
    line-height: 26px;
    font-weight: 900;
    position: absolute;
    left: 18.75%;
    top: 16px;
    
}

#version {
    font-size: min(4vw,16px);
    line-height: 26px;
    font-weight: 900;
    position: absolute;
    top: 16px;
    left: 66.7%;
    height: 26px;
    width: 15.5%;
    color: #8fe3f9;
}

#what-button {
    width: 139px;
    height: 58px;
    position: absolute;
    top: 56%;
    background-color: #8557b1;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    font-weight: 900;
    font-size: min(4vw,16px);
    line-height: 26px;
    cursor: pointer;
}


#what-button:hover {
    background-color: #B18BDD;
}

#my1 {
    position: absolute;
    top: 749px;
    left: 42.5%;
    right: 42.5%;
    width: 15%;
    height: 140px;
}

#my1 #line {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 1px;
    height: 84px;
    background-color: #87879d;
    opacity: 0.25;
}

#my1 #text1 {
    text-align: center;
    position: absolute;
    top: 84px;
    left: 0px;
    width: 100%;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #87879d60;
}

#text-01 {
    font-weight: 900;
    color: #87879d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#photo-collage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 87.2%;
    height: 310px;
    position: absolute;
    top: 953px;
    left: 6.4%;
    right: 6.4%;
}

#photo-collage img {
    width: 46.2%;
    height: 143px;
    border-radius: 10px;
}

#purpose {
    width: 87.2%;
    height: 284px;
    position: absolute;
    top: 1327px;
    left: 6.4%;
    right: 6.4%;
}

#purpose h3 {
    width: 82.8%;
    height: 26px;
    position: absolute;
    left: 8.6%;
    right: 8.6%;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #4d96a9;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

#purpose h2 {
    width: 100%;
    height: 72px;
    position: absolute;
    top: 17.6%;
    font-weight: 900;
    font-size: min(8vw,32px);
    line-height: 36px;
    color: #28283d;
    text-align: center;
}


#purpose p {
    width: 100%;
    height: 130px;
    position: absolute;
    top: 54%;
    font-size: 16px;
    color: #87879d;
}

#footer {
    width: 100%;
    height: 540px;
    position: absolute;
    top: 1675px;
}


#footer #line {
    position: absolute;
    top: 0px;
    left: 49.6%;
    width: 1px;
    height: 84px;
    background-color: #87879d;
    opacity: 0.25;
}

#footer #text2 {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 84px;
    left: 42.4%;
    width: 15.2%;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #87879d60;
    z-index: 2;
}

#footer #text-02 {
    font-weight: 900;
    color: #87879d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#bottom-info {
    background-color: #4D96A9;
    background-image: linear-gradient(0deg, #4D96A9d1, #4D96A9d1),url(./meet-landing-page/assets/mobile/image-footer.jpg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 478px;
    position: absolute;
    top: 20.74%;
    bottom: 0%;
    z-index: 1;
}


#new-download-button {
    width: 193px;
    height: 58px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,0%);
    bottom: 13.33%;
    border-radius: 50px;
    color: #ffffff;
    background-color: #855FB1;
    border: none;
    cursor: pointer;
}

#new-download-button:hover {
    background-color: #B18BDD;
}

#new-download {
    font-size: min(4vw,16px);
    line-height: 26px;
    font-weight: 900;
    position: absolute;
    top: 16px;
    left: 18.75%;
}



#new-version {
    font-size: min(4vw,16px);
    line-height: 26px;
    font-weight: 900;
    position: absolute;
    top: 16px;
    left: 66.7%;
    height: 26px;
    width: 15.5%;
    color: #D9B8FF;
}


#footer #bottom-info h2 {
    width: 87.2%;
    height: 27px;
    position: absolute;
    left: 6.4%;
    right: 6.4%;
    top: 22%;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #fafafa;
    text-align: center;
}

#footer #bottom-info p {
    width: 87.2%;
    height: 78px;
    position: absolute;
    left: 6.4%;
    right: 6.4%;
    top: 44%;
    bottom: 30%;
    font-size: 18px;
    color: #fafafa;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Red Hat Display';
    }

    .paragraph-fonts {
        font-weight: 500;
        line-height: 26px;
        text-align: center;
    }

    #header {
        position: relative;
    }

    #header2 {
        width: 0px;
        height: 0px;
    }
    
    #logo1 {
        width: 0px;
        height: 0px;
    }
    
    #image-hero-left {
        width: 0px;
        height: 0px;
    }
    
    #image-hero-right {
        width: 0px;
        height: 0px;
    }
    
    #logo {
        position: absolute;
        height: 28px;
        width: 119px;
        left: 42.25%;
    right: 42.25%;
    }

    #image-hero {
        position: absolute;
        top: 140px;
        left: -3.4%;
        width: 106.8%;
        height: 303px;
    }

    #heading {
        position: absolute;
        top: 515px;
        left: 27.9%;
        right: 27.9%;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: 
        #28283D;
        width: 44.2%;
        height: 96px;
    }
    
    #description {
        color: #87879D;
        font-size: 16px;
        width: 59.5%;
        height: 52px;
        position: absolute;
        top: 635px;
        left: 20.25%;
        right: 20.25%;
    }

    #buttons {
        width: 45.3%;
        height: 58px;
        position: absolute;
        top: 719px;
        left: 27.3%;
        right: 27.3%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }



    #download-button {
        width: 193px;
        height: 58px;
        position: absolute;
        left: 0%;
        border-radius: 50px;
        color: #ffffff;
        background-color: #4D96A9;
        border: none;
        cursor: pointer;
    }
    
    
    #download-button:hover {
        background-color: #71C0D4;
    }
    
    
    #download {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        width: 40%;
        position: absolute;
        top: 16px;
        left: 18.75%;
    }
    
    #version {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        position: absolute;
        top: 16px;
        left: 66.7%;
        height: 26px;
        width: 15.5%;
        color: #8fe3f9;
    }
    
    #what-button {
        width: 139px;
        height: 58px;
        position: absolute;
        top: 0%;
        left: 60%;
        background-color: #8557b1;
        border-radius: 50px;
        border: none;
        color: #ffffff;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        cursor: pointer;
    }
    
    
    #what-button:hover {
        background-color: #B18BDD;
    }


    #my1 {
        position: absolute;
        top: 857px;
        left: 46.4%;
        width: 7.3%;
        height: 140px;
    }
    
    #my1 #line {
        position: absolute;
        top: -0px;
        left: 50%;
        width: 1px;
        height: 84px;
        background-color: #87879d;
        opacity: 0.25;
    }
    
    #my1 #text1 {
        text-align: center;
        position: absolute;
        top: 84px;
        left: 0px;
        width: 100%;
        height: 56px;
        border-radius: 50%;
        border: 1px solid #87879d60;
    }
    
    #text-01 {
        font-weight: 900;
        color: #87879d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    #photo-collage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        height: 156px;
        position: absolute;
        top: 1064px;
        left: 5%;
    }
    
    #photo-collage img {
        width: 21.3%;
        height: 156px;
        border-radius: 10px;
    }
    


    #purpose {
        width: 74.6%;
        height: 240px;
        position: absolute;
        top: 1268px;
        left: 12.7%;
    }
    
    #purpose h3 {
        width: 47.8%;
        height: 26px;
        position: absolute;
        left: 26.1%;
        right: 26.1%;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #4d96a9;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    #purpose h2 {
        width: 77.5%;
        height: 88px;
        position: absolute;
        top: 17.5%;
        left: 11.3%;
        right: 11.3%;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #28283d;
        text-align: center;
    }
    
    
    #purpose p {
        width: 100%;
        height: 78px;
        position: absolute;
        top: 67.5%;
        font-size: 16px;
        color: #87879d;
    }


    #footer {
        width: 100%;
        height: 540px;
        position: absolute;
        top: 1588px;
    }
    
    
    #footer #line {
        position: absolute;
        top: 0px;
        left: 50%;
        width: 1px;
        height: 84px;
        background-color: #87879d;
        opacity: 0.25;
    }
    
    #footer #text2 {
        background-color: white;
        text-align: center;
        position: absolute;
        top: 84px;
        left: 46.4%;
        width: 7.3%;
        height: 56px;
        border-radius: 50%;
        border: 1px solid #87879d60;
        z-index: 2;
    }
    
    #footer #text-02 {
        font-weight: 900;
        color: #87879d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    #bottom-info {
        background-color: #4D96A9;
        background-image: linear-gradient(0deg, #4D96A9d1, #4D96A9d1),url(./meet-landing-page/assets/tablet/image-footer.jpg); 
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 478px;
        position: absolute;
        top: 20.74%;
        bottom: 0%;
        z-index: 1;
    }
    
    
    #new-download-button {
        width: 25.2%;
        height: 58px;
        position: absolute;
        left: 50%;
        right: 37.4%;
        top: 71%;
        transform: translate(-50%,0%);
        border-radius: 50px;
        color: #ffffff;
        background-color: #855FB1;
        border: none;
        cursor: pointer;
    }
    
    #new-download-button:hover {
        background-color: #B18BDD;
    }
    
    #new-download {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        position: absolute;
        width: 40%;
        top: 16px;
        left: 18.75%;
    }
    
    
    
    #new-version {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        position: absolute;
        top: 16px;
        left: 66.7%;
        height: 26px;
        width: 15.5%;
        color: #D9B8FF;
    }
    
    
    #footer #bottom-info h2 {
        width: 59.5%;
        height: 88px;
        position: absolute;
        left: 20.25%;
        right: 20.25%;
        top: 22%;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #fafafa;
        text-align: center;
    }
    
    #footer #bottom-info p {
        width: 74.6%;
        height: 52px;
        position: absolute;
        left: 12.6%;
        right: 12.6%;
        top: 49%;
        bottom: 30%;
        font-size: 18px;
        color: #fafafa;
    }

}


@media screen and (min-width: 1025px) and (max-width: 1440px){
    body {
        padding: 0px;
        margin: 0px;
        width: 1440px;
        font-family: 'Red Hat Display';
    }

    #header {
        display: none;
    }

    .paragraph-fonts {
        font-weight: 500;
        line-height: 26px;
        text-align: center;
    }

   
    #logo1 {
        position: absolute;
        top: 80px;
        left: 45.9%;
        right: 45.9%;
        width: 8.2%;
        height: 28px;
    }

    #image-hero-left {
        width: 25.2%;
        height: 358px;
        position: absolute;
        top: 169px;
        left: -2.2%;
    }

    #image-hero-right {
        width: 25.2%;
        height: 358px;
        position: absolute;
        top: 169px;
        right: -2.2%;
    }

    #introduction {
        position: absolute;
        top: 216px;
        left: 31.25%;
        width: 37.5%;
        height: 214px;
    }
   

    #heading {
        position: absolute;
        top: 0%;
        left: 8.8%;
        right: 8.8%;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: 
        #28283D;
        width: 82.4%;
        height: 128px;
        margin-bottom: 34px;
    }
    
    #description {
        color: #87879D;
        font-size: 16px;
        width: 100%;
        height: 52px;
        position: absolute;
        top: 75.7%;
        left: 0%;
    }

    #buttons {
        width: 360px;
        height: 58px;
        position: absolute;
        top: 462px;
        left: 37.5%;
    }


    #download-button {
        width: 193px;
        height: 58px;
        position: absolute;
        top: 0%;
        left: 0%;
        border-radius: 50px;
        color: #ffffff;
        background-color: #4D96A9;
        border: none;
        cursor: pointer;
    }
    
    
    #download-button:hover {
        background-color: #71C0D4;
    }
    
    
    #download {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        position: absolute;
        width: 40%;
        top: 16px;
        left: 18.75%;
    }
    
    #version {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        position: absolute;
        top: 16px;
        left: 66.7%;
        height: 26px;
        width: 15.5%;
        color: #8fe3f9;
    }
    
    #what-button {
        width: 139px;
        height: 58px;
        position: absolute;
        top: 0%;
        left: 60%;
        background-color: #8557b1;
        border-radius: 50px;
        border: none;
        color: #ffffff;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        cursor: pointer;
    }
    
    
    #what-button:hover {
        background-color: #B18BDD;
    }


    #my1 {
        position: absolute;
        top: 637px;
        left: 48%;
        width: 4%;
        height: 140px;
    }
    
    #my1 #line {
        position: absolute;
        top: -0px;
        left: 50%;
        width: 1px;
        height: 84px;
        background-color: #87879d;
        opacity: 0.25;
    }
    
    #my1 #text1 {
        text-align: center;
        position: absolute;
        top: 84px;
        left: 0px;
        width: 100%;
        height: 56px;
        border-radius: 50%;
        border: 1px solid #87879d60;
    }
    
    #text-01 {
        font-weight: 900;
        color: #87879d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    #photo-collage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 77.2%;
        height: 242px;
        position: absolute;
        top: 841px;
        left: 11.4%;
        right: 11.4%;
    }
    
    #photo-collage img {
        width: 23%;
        height: 242px;
        border-radius: 10px;
    }
    


    #purpose {
        width: 37.5%;
        height: 240px;
        position: absolute;
        top: 1163px;
        left: 31.25%;
    }
    
    #purpose h3 {
        width: 50.8%;
        height: 26px;
        position: absolute;
        left: 24.6%;
        right: 24.6%;
        font-weight: 900;
        font-size: 16px;
        line-height: 26px;
        color: #4d96a9;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    #purpose h2 {
        width: 82.4%;
        height: 88px;
        position: absolute;
        top: 17.5%;
        left: 8.8%;
        font-weight: 900;
        font-size: min(3vw,40px);
        line-height: 44px;
        color: #28283d;
        text-align: center;
    }
    
    
    #purpose p {
        width: 100%;
        height: 78px;
        position: absolute;
        top: 67.5%;
        font-size: 16px;
        color: #87879d;
    }


    #bottom-info {
        background-color: #4D96A9;
        background-image: linear-gradient(0deg, #4D96A9d1, #4D96A9d1),url(./meet-landing-page/assets/desktop/image-footer.jpg); 
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 73%;
        position: absolute;
        top: 26.6%;
        bottom: 0%;
        z-index: 1;
    }
    
    
    #new-download-button {
        width: 193px;
        height: 58px;
        position: absolute;
        left: 74%;
        top: 42.5%;
        transform: translate(5%,0%);
        border-radius: 50px;
        color: #ffffff;
        background-color: #855FB1;
        border: none;
    }
    
    #new-download-button:hover {
        background-color: #B18BDD;
    }
    
    #new-download {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        position: absolute;
        top: 16px;
        left: 18.75%;
        width: 40%;
    }
    
    
    
    #new-version {
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        position: absolute;
        top: 16px;
        left: 66.7%;
        height: 26px;
        width: 15.5%;
        color: #D9B8FF;
    }
    
    
    #footer #bottom-info h2 {
        width: 24.3%;
        height: 88px;
        position: absolute;
        left: 11.4%;
        top: 26%;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #fafafa;
        text-align: center;
    }
    
    #footer #bottom-info p {
        width: 24.3%;
        height: 78px;
        position: absolute;
        left: 41.5%;
        top: 29%;
        bottom: 30%;
        font-size: 18px;
        color: #fafafa;
    }

    #footer {
        width: 100%;
        height: 420px;
        position: absolute;
        top: 1475px;
    }
    
    
    #footer #line {
        position: absolute;
        top: 0px;
        left: 50%;
        width: 1px;
        height: 84px;
        background-color: #87879d;
        opacity: 0.25;
    }
    
    #footer #text2 {
        background-color: white;
        text-align: center;
        position: absolute;
        top: 84px;
        left: 48%;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid #87879d60;
        z-index: 2;
    }
    
    #footer #text-02 {
        font-weight: 900;
        color: #87879d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}